// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-image {
    width: 100%;
    height: 85vh;
}

.about-image {
    height: 85vh;
}