// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-div {
    height: 80vh;
}

.profile-back-image {
    height: 30vh;
}

.profile-left {
    // background-color: aquamarine;
    background-image: linear-gradient(to right bottom,pink, violet);
    color: white;
}

.profile-image {
    border-radius: 50%;
}

.bg-image {
    top: 200px;
    left: 800px;
    color: aliceblue;
    background-color: black;
}

.profile-follow {
    height: 258px;
}

.index-name {
    color: black;
}

.profile-height {
    height: 80vh;
}

.follow-text {
    color: white;
}