<div class="text-left">
    <% @activities.each do |activity| %>
        <% if activity.actionable_type == "Lesson" %>
            <% if current_user.id == activity.actionable.user_id %>
                <%= "#{current_user.first_name} learned 
                        #{activity.actionable.choices.where(correct: true).count} / #{activity.actionable.words.count} words
                        in #{activity.actionable.category.title} #{activity.actionable.category.description}" %>
                    <hr>
            <% else%>
                <%= "#{activity.user.first_name} learned 
                        #{activity.actionable.choices.where(correct: true).count} / #{activity.actionable.words.count} words
                        in #{activity.actionable.category.title} #{activity.actionable.category.description}" %>
                    <hr>
            <% end %>
        <% else %>
            <% if current_user.id == activity.actionable.follower_id %>
                <%= "#{current_user.first_name} followed #{activity.actionable.followed.first_name}" %>
                <hr>
            <% elsif current_user.id == activity.actionable.followed_id %>
                <%= "#{activity.actionable.follower.first_name} followed #{current_user.first_name}" %>
                <hr>
            <% end %>
        <% end %>
    <% end %>
</div>